.ace_heading {
	font-weight: bold;
}
.CodeMirror .cm-header.cm-header-1, 
.CodeMirror .cm-header.cm-header-2, 
.CodeMirror .cm-header.cm-header-3, 
.CodeMirror .cm-header.cm-header-4, 
.CodeMirror .cm-header.cm-header-5, 
.CodeMirror .cm-header.cm-header-6 {
  color: aqua;
}

.ace-twilight .ace_list, 
.ace-twilight .ace_markup.ace_list, 
.ace-twilight .ace_storage {
  color: rgb(221, 221, 221) !important;
}
.ace-twilight .ace_support.ace_function { color: #aaa !important; }
.ace-twilight .ace_variable { color: red !important; }

.CodeMirror-sizer .CodeMirror-lines {
  /* padding-bottom: 50px !important; */
  /* padding-left: 1em; */
}

/* body .CodeMirror-sizer {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 750px !important;
} */

.cm-s-material-darker .cm-variable-3, .cm-s-material-darker .cm-type {
  color: #EEFFFF !important;
}

.cm-s-material-darker .cm-string {
  color: #23CD60 !important;
}

.cm-s-material-darker .cm-meta {
  color: #23CD60 !important;
}
.cm-s-material-darker .cm-property {
  color: #00A3A3 !important;
}


.cm-tabcolor-row {
	color: var(--joplin-color) !important;
}
.cm-tabcolor-header {
	font-weight: bolder;
	color: var(--joplin-color) !important;
}
.cm-tabcolor-col1, .cm-tabcolor-col7 {
	background-color: transparent !important;
	color: #00A3A3 !important;
}
.cm-tabcolor-col2, .cm-tabcolor-col8 {
	background-color: transparent !important;
	color: #F459F4 !important; 
}
.cm-tabcolor-col3, .cm-tabcolor-col9 {
	background-color: transparent !important;
	color: #23CD60 !important;
}
.cm-tabcolor-col4, .cm-tabcolor-col10 {
	background-color: transparent !important;
	color: red !important;
}
.cm-tabcolor-col5, .cm-tabcolor-col11 {
	background-color: transparent !important;
	color: #cf7506 !important;
}
.cm-tabcolor-col6, .cm-tabcolor-col12 {
	background-color: transparent !important;
	color: #3a79f7 !important;
}
